.menu__boton__1 {
  position: absolute;
  right: 155px;
  top: 249px;
  background-color: $celeste !important;
  border-color: $celeste !important ;
}
.menu__boton__1:hover {
  background-color: $celeste1 !important;
  border-color: $celeste1 !important ;
}
.menu__boton__2 {
  position: absolute;
  right: 66px;
  top: 249px;
  background-color: $coral !important;
  border-color: $coral !important ;
}
.menu__boton__2:hover {
  background-color: $coral1 !important;
  border-color: $coral1 !important ;
}
