body{
  font-family: 'Poppins';
}
.menu__h1{
  font-family: 'Poppins';
  font-weight: 500;
  margin-left: 23px;
  margin-top: 11px;
}
.contenido__1> h6{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.856vw;
}
.contenido__1> p{
  font-family: 'Poppins';
  font-size: 9px;
}
p{
  color: $gris;
}
i {
  font-size: 20px;
  color: $oscuro;
}


